BOT_TOKEN=TELEGRAM_BOT_TOKEN

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_EXTERNAL_PORT=5432
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_NAME=content_db

RABBITMQ_HOST=hostname
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_UI_PORT=15672