BOT_TOKEN=132718312:AuhicSAuihdASDddwiaodjioawevcmkl

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_NAME=content_db

RABBITMQ_URL=amqp://guest:guest@localhost/